<h1>Hello There</h1>
<!-- favorite on change -->
<div>
    <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
</div>
<br />
<!-- like count -->
<like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like>
<br />
<!-- input text -->
<input type="text" [(ngModel)]="post.title" />
<br /> {{ post.title }}
<br />
<br />
<br />
<!-- *ngFor table -->
<!-- Add method -->
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let course of courses; index as i">
        {{ i }} - {{ course.name }}
        <!-- remove method -->
        <button (click)="onRemove(course)">Remove</button>
        <!-- update method -->
        <button (click)="onChange(course)">Update</button>
    </li>
</ul>
<app-posts></app-posts>